#main-container{
	width: 95%;
	background-color: rgb(220, 255, 220);
	margin: 0 auto;
	text-align: center;

}
header{
	background-image: url(jungle_panorama.jpg);
	height: 100px;
}
.header-con{
	display: inline-block;
	width: 33%;
}
.header-con-three{
	display: inline-block;
	width: 33%;
	height: 50px;
}
#emblem{
	font-family: 'Gloria Hallelujah', cursive;
	color: #fff;
	font-size: 38px;
	margin: 0;
}
#but-input{
	float: right;
	margin-right: 4px;
	border-radius: 100px;
	background-color: rgb(100, 255, 100);
	border: none;
	font-family: 'Gloria Hallelujah', cursive;
}

#conteiner{
	text-align: center;
}
.menu-wraper{
	width: 300px;
	height: 30px;
	display: inline-block;
	position: relative;
	bottom: -33px;
}
.menu-wraper div{
	display: none;
	height: 30px;
}
#container-menu{
	width: 100%;
	height: 70px;
	margin-top: 10px;
}
#menu-but{
	width: 50px;
	height: 50px;
	border: 3px solid #000;
	border-radius: 50%;
	margin: 0 auto;
	display: inline-block;
}
#menu-but:hover{
	cursor: pointer;
	background-color: rgb(150, 255, 150);
}
#menu-but i{
	font-size: 25px;
	color: #000;
	padding-top: 13px;
}
.menu-item{
	display: inline-block;
	font-family: 'Architects Daughter', cursive;
	margin: 13px 25px; 
	background-color: rgb(130, 255, 130);
	border-radius: 20px 20px 0 0;
	border: 2px solid rgb(50, 255, 50);
}
.menu-item:hover{
	cursor: pointer;
}
/*///////////////slider////////////////*/
.jssorb05 {
            position: absolute;
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('img/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { background-position: -7px -7px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
        .jssorb05 .av { background-position: -67px -7px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

        /* jssor slider arrow navigator skin 22 css */
        /*
        .jssora22l                  (normal)
        .jssora22r                  (normal)
        .jssora22l:hover            (normal mouseover)
        .jssora22r:hover            (normal mouseover)
        .jssora22l.jssora22ldn      (mousedown)
        .jssora22r.jssora22rdn      (mousedown)
        .jssora22l.jssora22lds      (disabled)
        .jssora22r.jssora22rds      (disabled)
        */
        .jssora22l, .jssora22r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 58px;
            cursor: pointer;
            background: url('img/a22.png') center center no-repeat;
            overflow: hidden;
        }
        .jssora22l { background-position: -10px -31px; }
        .jssora22r { background-position: -70px -31px; }
        .jssora22l:hover { background-position: -130px -31px; }
        .jssora22r:hover { background-position: -190px -31px; }
        .jssora22l.jssora22ldn { background-position: -250px -31px; }
        .jssora22r.jssora22rdn { background-position: -310px -31px; }
        .jssora22l.jssora22lds { background-position: -10px -31px; opacity: .3; pointer-events: none; }
        .jssora22r.jssora22rds { background-position: -70px -31px; opacity: .3; pointer-events: none; }

.slider img{
	width: 500px;
}

/*////////////TO STORE\\\\\\\\\\\\\*/
#but-toStore{
	width: 200px;
	height: 40px;
	border-radius: 100px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 15px;
	margin: 40px 0;
	background-color: rgb(100, 255, 100);
	border: none;
}
#but-toStore:hover{
	cursor: pointer;
}